@import "partials/variables";

//Global rules --------------------------------------------------
* {
  box-sizing: border-box;
}

body {
  background-color: mix($light-grey, $white, 20%);
}

html,
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.222rem;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  color: $dark-grey;
  @media only screen and (max-width: 1024px) {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5rem;
  }
}
h1,
h2 {
  margin-top: 3rem;
  text-align: center;
}

.content {
  margin-top: 2rem;
  text-align: center;
}
